* {
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'open-sans',sans-serif;
}

body{
	
	background-color: #E8F0FF;
	
} 
.container-courses{
	height: 200px;
}
.course-name{
	padding-top: 20px;
	font-weight: bold;
}
.course-description{
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.course-price{
	font-weight: bold;
	padding-right: 20px;
}

.list-link{
	align-items: flex-end;
}
.nav-link:hover{
	color: sandybrown !important;
}