* {
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'open-sans',sans-serif;
}

input.form-control{
background-color:transparent !important;
/*border:none !important;*/
text-transform: capitalize;
}

body{
background-color: #E8F0FF;
} 
.jumbotron{
   background-color: transparent;
}
.nav-link:hover{
	color: sandybrown !important;
}
.card-profile{
   font-weight: bold;
}