* {

margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'open-sans',sans-serif;
}

.jumbotron{
	height: 100vh;
	color: #774936;
	align-content: right;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px;
	background-image: url("./images/bg5.jpg");
	

}
.card{
	border-radius: 25px;
}
.card-title{
	font-weight: bold;
}
.card-text{
	background-color:rgba(250, 254, 255, 0.7);
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.find-class{
	background-color: #AED9E0;
	border-radius: 25px;
}
.book-class{
	background-color: #77A690;
	border-radius: 25px;
}
.enjoy-class{
	background-color: #B8F2E6;
	border-radius: 25px;
}
footer{
	margin-top: 50px;
}
.list-link{
	align-items: flex-end;
}
.nav-link:hover{
	color: sandybrown !important;
}

